// В этом файле должны быть стили только для БЭМ-блока offers, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

/*-------------------------------------*\
      Offers
      offers.css
\*-------------------------------------*/

.offers {
  margin-bottom: 1rem;
  margin-top: 2rem;

  &--direction {
    flex-direction: row;
  }
}


