// В этом файле должны быть стили только для БЭМ-блока social, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

/*-------------------------------------*\
      Social
      social.css
\*-------------------------------------*/

.social {
  align-items: center;
  display: flex;
  fill: $white;
  height: 48px;
  justify-content: center;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  width: 46px;
}

.social__twitter {
  height: 60%;
  width: 60%;
  z-index: 1;
}

.social__facebook {
  height: 50%;
  width: 50%;
  z-index: 1;
}

.social__youtube {
  height: 60%;
  width: 60%;
  z-index: 1;
}

