// В этом файле должны быть стили только для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.btn {
  border: 0;
  // background-color: #81b3d2;
  background-color: $color-main;
  color: #fff;
}
