// В этом файле должны быть стили только для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.btn {
  border: 0;
  background-color: $color-main;
  color: $white;

  &:hover {
    background-color: $color-main--darker;
  }

  &:active {
    background-color: $color-main--darkest;
    color: $color-main;
  }
}


