// В этом файле должны быть стили только для БЭМ-блока media, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

/*-------------------------------------*\
      Media box
      media.css
\*-------------------------------------*/

.media {
  display: flex;
  flex: 1 1 33%;
}

.media--vertical {
  flex-direction: column;
}

.media--direction {
  flex-direction: column;
}

@media screen and (min-width: 30em) {

  .media--direction {
    flex-direction: row;
  }
}

.media__body {
  display: flex;
  flex: 1 1 33%;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.media__object {
  display: flex;
  justify-content: center;
  flex: 2 2 67%;
}

.media__body--color-blue {
  background: #81b3d2;
  color: #fff;
}

.media__header {
  margin-bottom: 0.7rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.4rem;
  max-width: 10rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  text-align: center;
}

.media__text {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 1.4rem;
  margin-top: 0.7rem;
  text-align: center;
}

.media__sequence {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
  text-align: center;
}

.media__sequence::before,
.media__sequence::after {
  content: '\2014';
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}
