// В этом файле должны быть стили только для БЭМ-блока media, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

/*-------------------------------------*\
      Media box
      media.css
\*-------------------------------------*/

.media {
  display: flex;
  flex: 1 1 33%;
}

// .media--vertical {
//   flex-direction: column;
// }

.media--direction {
  flex-direction: column;
}

@media screen and (min-width: 30em) {

  .media--direction {
    flex-direction: row;
  }
}

.media__body {
  display: flex;
  flex: 1 1 33%;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1.1rem;
  padding-left: 0.7rem;
  padding-right: 0.3rem;

  &--color-blue {
    background: #81b3d2;
    color: #fff;
  }

  &--upper-indent-big {
    margin-top: -1rem;
    padding-top: 2.3rem;
    z-index: -1;
  }

  &--upper-indent-small {
    padding-top: 1.1rem;
  }
}

.media__object {
  display: flex;
  justify-content: center;
  //flex: 2 2 67%;
}

.media__header {
  margin-bottom: 0.8rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.4rem;
  //max-width: 10rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  text-align: center;
}

.media__text {
  display: block;
  font-size: 0.9rem;
  line-height: 1.4rem;
  margin-bottom: 1.4rem;
  margin-top: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

