/*-------------------------------------*\
      Layout and helpers
      helpers.css
\*-------------------------------------*/

.visually-hidden {
  font-size: 0;
  visibility: hidden;
}

.hamburger__input:checked ~ .body {
  margin-top: 150px;
}

/*-------------------------------------*\
      CSS reset and utils
      settings.css
\*-------------------------------------*/

/*
* {
  border: 1px solid red;
}
*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  box-sizing: border-box;
}

html,
body,
nav,
section,
footer,
div,
fieldset,
legend,
ul,
p,
li,
h1,
h2,
h3,
img {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  text-transform: uppercase;
}

fieldset {
  border: none;
  display: table-cell;
  min-width: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0em;
  -webkit-padding-start: 0em;
  -webkit-padding-end: 0em;
  -webkit-padding-after: 0em;
}

legend {
  display: block;
  -webkit-padding-start: 0em;
  -webkit-padding-end: 0em;
}

h1,
h2,
p {
  padding-left: 1rem;
  padding-right: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 20em) {

  h1,
  h2,
  span,
  p {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 48.01em) {

  body {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.3);
    width: 94vw;
  }
}

@media screen and (min-width: 60em) {

  span {
    display: block;
  }
}

