// В этом файле должны быть стили только для БЭМ-блока row, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

/*-------------------------------------*\
      Row - basic layout element
      row.css
\*-------------------------------------*/
.row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header {
    display: block;
    font-size: 1.125rem;
    font-weight: 700;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    text-align: center;
  }

  &--indent {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }

  &--border {
    border-top: 2px;
    border-top-color: $gray-lightest;
    border-top-style: solid;
  }

  &--gray {
    background-color: $gray-lighter;
    padding-top: 0.5rem;
  }

  &--inner {
    flex: 0 0 33%;
  }
}


@media screen and (min-width: 37em) {

  .row {
    flex-direction: row;

    &--vertical {
      flex-direction: column;
    }

    &--direction {
      flex-direction: column;
    }

    &--gray {
      min-height: 16rem;
    }
  }
}
