// В этом файле должны быть стили только для БЭМ-блока row, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

/*-------------------------------------*\
      Row - basic layout element
      row.css
\*-------------------------------------*/
.row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row--gray {
  background-color: #eeeeee;
  // padding-bottom: 1.5rem;
  padding-top: 0.5rem;
}

@media screen and (min-width: 37em) {

  .row {
    flex-direction: row;
  }

  .row--vertical {
    flex-direction: column;
  }

  .row--gray {
    min-height: 16rem;
  }
}
