// В этом файле должны быть стили только для БЭМ-блока menu, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

/*-------------------------------------*\
      Menu
      menu.css
\*-------------------------------------*/

.menu {
  height: 56px;
}

.menu__list {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.menu__item {
  flex: 1 1 auto;
  font-size: 0.9rem;
  font-weight: 700;
  display: block;
  list-style: none;
  text-align: center;
}
