// В этом файле должны быть стили только для БЭМ-блока masthead, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

/*-------------------------------------*\
      Masthead
      masthead.css
\*-------------------------------------*/

.masthead {
  background-image: url('../img/masthead__shape.png'), url('../img/masthead__main.jpg');
  background-position: center bottom, center center;
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, 110%;
  border: 0;
  font-size: 0;
  height: 60vw;
}
