// В этом файле должны быть стили только для БЭМ-блока masthead, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

/*-------------------------------------*\
      Masthead
      masthead.css
\*-------------------------------------*/

.masthead {
  background-color: $color-main--lightest;
  background-image: url('../img/masthead__shape.png'), url('../img/masthead__main.jpg');
  background-position: center bottom, 50% 4.5rem;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, 242%;
  border: 0;
  font-size: 0;
  height: 450px;

  &__title {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 6.3rem;

    &--welcome {
      fill: $color-main;
      height: 5vh;
      width: 48vw;
    }

    &--gorgeous {
      fill: $black;
      height: 4vh;
      margin-top: 0.4rem;
      width: 61vw;
    }

    &--sedona {
      fill: $white;
      height: 7.2vh;
      margin-top: 3.1rem;
      width: 87vw;
    }

    &--canyon {
      fill: $white;
      height: 8vh;
      margin-top: 4.3rem;
      width: 62vw;
    }
  }
}

@media screen and (min-width: 21rem) {

  .masthead {
    background-position: center bottom, 50% 10.5rem;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 120%;
  }
}

@media screen and (min-width: 37rem) {

  .masthead {
    background-position: center bottom, 50% 3.5rem;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 110%;
  }
}

@media screen and (min-width: 48rem) {

  .masthead {
    background-position: center bottom, 75% 4.5rem;
    background-size: 100%, 102%;
    height: 568px;

    &__title {
      margin-top: 8.4rem;

      &--welcome {
        fill: $color-main;
        height: 6vh;
        width: 25.2vw;
      }

      &--gorgeous {
        height: 4vh;
        margin-top: 0.7rem;
        width: 34vw;
      }

      &--sedona {
        height: 11.2vh;
        margin-top: 3.1rem;
        width: 61vw;
      }

      &--canyon {
        height: 11vh;
        margin-top: 3.5rem;
        width: 38vw;
      }
    }
  }
}

@media screen and (min-width: 80rem) {

  .masthead {
    background-position: center bottom, 75% 4.5rem;
    background-size: 100%, 102%;
    height: 568px;

    &__title {
      margin-top: 8.2rem;

      &--welcome {
        fill: $color-main;
        height: 5.1vh;
        width: 14.9vw;
      }

      &--gorgeous {
        height: 3vh;
        margin-top: 0.6rem;
        width: 19.8vw;
      }

      &--sedona {
        height: 8.4vh;
        margin-top: 3.1rem;
        width: 36vw;
      }

      &--canyon {
        height: 8.9vh;
        margin-top: 3.3rem;
        width: 23.2vw;
      }
    }
  }
}
