// В этом файле должны быть стили только для БЭМ-блока masthead, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

/*-------------------------------------*\
      Masthead
      masthead.css
\*-------------------------------------*/

.masthead {
  background-image: url('../img/masthead__shape.png'), url('../img/masthead__main.jpg');
  background-position: center bottom, center center;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
  border: 0;
  font-size: 0;
  //height: 60vh;
  height: 450px;

  &__title--welcome {
    // background-image: url(../img/text-welcome.svg);
    // background-size: cover;
    // background-position: center center;
    fill: #81b3d2;
    height: 5vh;
    width: 48vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6.5rem;
    // @include icon-add-fill('../img/text-welcome.svg', '#81b3d2')

    & svg {
      fill: #81b3d2;
      height: 7vh;
      width: 59vw;
    }
  }


}


